*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

/* Root font size */
html {
	font-size: 62.5%;

	@include respond(tab-land) {
		font-size: 56.25% !important; //or 9px 9/16 = 56.25%
	}

	@include respond(tab-port) {
		// font-size: 50%; // or 8px 8/16 = 50%
		font-size: 50% !important;
	}

	@include respond(phone) {
		font-size: 43.75% !important; // or 7px 7/16 = 43.75%
	}

	@include respond(big-desktop) {
		font-size: 75%; //1rem = 12px or 12/16
	}
}

body {
	box-sizing: border-box;
	// padding: 3rem;
	background-color: $dark-grey-3;
	font-size: 1.6rem;
	@include respond(tab-port) {
		padding: 0;
	}
}

// ::selection {
// 	background-color: $color-primary;
// 	color: $color-white;
// }

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}
