@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

body {
	color: $light-grey-1;
	font-family: "Ubuntu", Arial, sans-serif;
	font-weight: 400;
	// font-smooth: auto;
	/* font-size: 16px; */
	line-height: 1.7;
	font-size: 1.6rem;
}

.text-xl {
	font-size: 4rem;
	// letter-spacing: 2px;
}
