.main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;

	&__content {
		width: 70%;
		text-align: center;
		// height: 100vh;
	}
}

.section {
	// height: 100vh;
	width: 70%;
	margin: 10rem auto;
	@include respond(phone) {
		width: 90%;
	}
}

.projects {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 4rem;
}

.details {
	.main {
		img {
			width: 100%;
		}
	}

	&__subtitle {
		border-bottom: 2px solid rgb(48, 48, 48);
		margin-bottom: 2rem;
		font-size: 3rem;
		font-weight: 500;
	}

	&__paragraph {
		font-size: 2rem;
		color: rgb(116, 116, 116);
	}
}

footer {
	text-align: center;
	padding: 3rem;
	border-top: 2px dashed rgb(56, 56, 56);
	width: 80%;
	margin: 0 auto;
}
