.intro {
	margin-top: -4.6rem;
	display: flex;
	gap: 4.8rem;
	flex-wrap: wrap;
	align-items: center;
	height: 100vh;
	width: 100%;

	& > * {
		// flex-grow: 0;
		// flex-shrink: 1;
		flex: 1;
	}
	.heading__4 {
		margin-bottom: 1.8rem;
	}
	.heading__1 {
		margin-bottom: 5rem;
	}

	.intro__img {
		min-width: 280px;
		max-width: 280px;
		transform: rotateZ(-12deg);

		@include respond(phone) {
			display: none;
		}

		&:hover {
			transform: rotateZ(0deg);
		}
	}

	&__actions {
		display: flex;
		align-items: center;
		gap: 2.8rem;
	}

	&__links > a:not(:last-child) {
		margin-right: 1rem;
	}

	.triangle {
		left: 20%;
		bottom: 17%;
	}

	.triangle2 {
		left: 19.5%;
		bottom: 15%;
	}
}
