.intro {
	display: flex;
	gap: 3.2rem;
	flex-wrap: wrap;
	align-items: center;
	height: 100vh;
	width: 100%;

	& > * {
		// flex-grow: 0;
		// flex-shrink: 1;
		flex: 1;
	}
	.heading__4 {
		margin-bottom: 1.8rem;
	}
	.heading__1 {
		margin-bottom: 5rem;
	}

	.intro__img {
		min-width: 280px;
		max-width: 280px;

		@include respond(phone) {
			display: none;
		}
	}

	&__actions {
		display: flex;
		align-items: center;
		gap: 2.8rem;
	}

	&__links > a:not(:last-child) {
		margin-right: 1rem;
	}
}
