.intro {
	display: flex;
	gap: 3.2rem;
	flex-wrap: wrap;
	align-items: center;
	height: 100vh;
	width: 100%;

	& > * {
		// flex-grow: 0;
		// flex-shrink: 1;
		flex: 1;
	}

	.heading__1 {
		margin-bottom: 5rem;
	}

	.intro__img {
		min-width: 280px;
		max-width: 280px;

		@include respond(phone) {
			display: none;
		}
	}

	&__actions {
		display: flex;
		align-items: center;
		gap: 2.8rem;
	}

	&__links > a:not(:last-child) {
		margin-right: 1rem;
	}
}

.contact {
	position: relative;
	margin: 16rem 0;
	text-align: center;
	// background-color: red;
	.card {
		padding-top: 2.4rem;
		padding-bottom: 2.4rem;
		width: 60%;
		margin: 0 auto;

		@include respond(phone) {
			width: 100%;
		}
	}

	h2 {
		margin-bottom: 2.4rem;
	}

	.triangle,
	.triangle2 {
		bottom: -20%;
		left: 40%;
	}

	.triangle {
		bottom: -24%;
		left: 39.2%;
	}
}
