$accent: hsl(150, 100%, 45%);
$dark: hsl(0, 0%, 9%);
$dark-2: hsl(0, 0%, 16%);
$dark-3: hsl(0, 0%, 22%);
$dark-4: hsl(0, 0%, 12%);
$light: hsl(0, 0%, 96%);
$grey: hsl(0, 0%, 37%);
$border-rad: 2rem;
$max-width: 1024px;
$shape-opacity: 10%;
