$accent: hsl(150, 100%, 45%);
$dark: hsl(0, 0%, 9%);
$dark-2: hsl(0, 0%, 16%);
$dark-3: hsl(0, 0%, 22%);
$dark-4: hsl(0, 0%, 12%);
$light: hsl(0, 0%, 96%);
$grey: hsl(0, 0%, 37%);
$border-rad: 2rem;
$max-width: 1200px;
$shape-opacity: 36%;

$text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.1);

:root {
	--navbar-bg: 240, 255, 253;
	--bg-color: hsl(173, 100%, 97%);
	--text-color: hsl(150, 100%, 10%);
	--accent: hsl(150, 100%, 40%);
	--bg-color-2: hsla(151, 100%, 10%, 0.726);
	--bg-color-3: hsl(0, 0%, 88%);
	--bg-color-4: hsl(0, 0%, 93%);
	//0.568
}
.dark {
	--navbar-bg: 23, 23, 23;
	--bg-color: hsl(0, 0%, 9%);
	--text-color: hsl(0, 0%, 96%);
	--accent: hsl(150, 100%, 45%);
	--bg-color-2: hsl(0, 0%, 16%);
	--bg-color-3: hsl(0, 0%, 16%);
	--bg-color-4: hsl(0, 0%, 12%);
}

// light EFFFFD
