.about {
	display: flex;
	align-items: center;
	gap: 2rem;

	& > * {
		flex: 1;
	}

	&__content {
		max-width: 45%;
	}

	&__gallery {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem;
	}

	&__thumbnail {
		max-height: 18rem;
		overflow-y: hidden;
		// background-color: red;
		transform: rotateZ(1.5deg);
		border-radius: $border-rad;
		opacity: 40%;

		&:hover {
			opacity: 100%;
			transform: rotateZ(-1.5deg) scale(1.3);
		}
	}
}
