.card__list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 2.4rem;

	@include respond(phone) {
		grid-template-columns: repeat(1, 1fr);
	}
}

.card {
	background-color: $dark-4;
	padding: 1.6rem 2.4rem;
	border-radius: $border-rad;
	position: relative;

	&__actions {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		margin-bottom: 2rem;

		& > * {
			margin-left: 1rem;
		}
	}
	&__subtitle {
		font-size: 1.6rem;
		color: $accent;
		// letter-spacing: 1.2px;
		font-weight: 400;
		font-family: "Cascadia Code";
	}
	&__title {
		font-size: 2.4rem;
		font-weight: 900;
		letter-spacing: 1.2px;
	}
	&__body {
		margin: 2rem 0;
		letter-spacing: 1.2px;
		font-size: 1.6rem;
	}

	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		border: 2px solid $dark-4;
		height: 102%;
		width: 102%;
		// border-radius: 4rem;
		color: white;
		transform: rotateZ(-1.5deg);
		border-radius: $border-rad;
	}
}
