.experience {
	padding-bottom: 10rem;
	&__list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 4.8rem;

		@include respond(phone) {
			display: block;
		}
	}

	&__subtitle {
		// font-size: 1.8rem;
		font-weight: 400;
		color: $grey;
	}

	&__body {
		margin-top: 1rem;
		letter-spacing: 1.2px;
	}

	&__item {
		@include respond(phone) {
			margin-bottom: 4.2rem;
		}
	}
}
