.featured {
	&__actions {
		display: flex;
		align-items: center;
		margin-top: 4.2rem;

		& > * {
			margin-right: 2rem;
		}
	}
	&__item {
		width: 100%;
		display: flex;
		// background-color: orangered;
		//
		@include respond(phone) {
			flex-direction: column;
		}
		position: relative;
		margin: 15rem 0;

		&:after {
			content: "";
			position: absolute;
			top: -10%;
			left: 10%;
			height: 120%;
			width: 80%;
			background-color: var(--bg-color-4);
			z-index: -1;
			border-radius: $border-rad;
		}

		&:before {
			content: "";
			position: absolute;
			top: -10%;
			left: 9%;
			height: 120%;
			width: 82%;
			// background-color: $dark-2;
			border: 2px solid var(--bg-color-4);
			z-index: -1;
			border-radius: $border-rad;
			transform: rotateZ(-1deg);
		}
	}

	&__img-container {
		width: 60%;

		// background-color: red;
		padding-right: 2.4rem;
		@include respond(phone) {
			width: unset;
			padding: 0;
		}
		img {
			border-radius: 1rem;
		}
	}

	&__content {
		width: 40%;

		@include respond(phone) {
			width: unset;
		}
	}
}

.light {
	.featured__item {
		&::after {
			background-color: hsla(151, 100%, 10%, 0.032);
		}

		&::before {
			border: 2px solid hsla(151, 100%, 10%, 0.089);
		}
	}
}
