.contact {
	label {
		display: block;
		text-align: left;
		margin-bottom: 2rem;
		font-weight: 300;

		& > * {
			display: block;
		}

		input,
		textarea {
			width: 100%;
			border: none;
			outline: none;
			background-color: var(--bg-color-3);
			padding: 1rem 2rem;
			border-radius: 1rem;
			color: var(--text-color);
			font-family: "Consolas";
		}
		span {
			margin-bottom: 0.6rem;
		}
	}
}

.light {
	.contact {
		input,
		textarea {
			background-color: hsla(151, 100%, 10%, 0.151);
		}
	}
}
