*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

/* Root font size */
html {
	font-size: 62.5%;

	@include respond(tab-land) {
		font-size: 56.25% !important; //or 9px 9/16 = 56.25%
	}

	@include respond(tab-port) {
		// font-size: 50%; // or 8px 8/16 = 50%
		font-size: 50% !important;
	}

	@include respond(phone) {
		font-size: 43.75% !important; // or 7px 7/16 = 43.75%
	}

	@include respond(big-desktop) {
		font-size: 75%; //1rem = 12px or 12/16
	}
}

body {
	box-sizing: border-box;
	// padding: 3rem;
	background-color: hsl(var(--bg));
	font-size: 1.6rem;
	color: hsl(var(--text-color));

	@include respond(tab-port) {
		padding: 0;
	}
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

section {
	min-height: 100vh;
}

main {
	max-width: 1280px;
	margin: 0 auto;
}

.intro {
	display: grid;
	grid-template-columns: 1.5fr 3fr;
	grid-gap: 5rem;
	min-height: calc(100vh - 10rem);

	&__img {
		position: relative;
		// background-color: orangered;
		img {
			position: absolute;
			right: 2rem;
			bottom: 20%;
			width: 70%;
		}
	}
	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		transform: translateY(-3rem);
	}
}

.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.article {
	margin-bottom: 4rem;
}

.heading {
	margin-bottom: 3rem;
}

.intro {
}
