*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

/* Root font size */
html {
	font-size: 62.5%;

	@include respond(tab-land) {
		font-size: 56.25% !important; //or 9px 9/16 = 56.25%
	}

	@include respond(tab-port) {
		// font-size: 50%; // or 8px 8/16 = 50%
		font-size: 50% !important;
	}

	@include respond(phone) {
		font-size: 43.75% !important; // or 7px 7/16 = 43.75%
	}

	@include respond(big-desktop) {
		font-size: 75%; //1rem = 12px or 12/16
	}
}

body {
	box-sizing: border-box;
	// padding: 3rem;
	background-color: hsl(var(--bg));
	font-size: 1.6rem;
	color: hsl(var(--text-color));

	@include respond(tab-port) {
		padding: 0;
	}
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

section {
	min-height: 100vh;
}

main {
	max-width: 1280px;
	margin: 0 auto;
	padding-bottom: 10rem;
}

.intro {
	display: grid;
	grid-template-columns: 1.5fr 3fr;
	grid-gap: 5rem;
	min-height: calc(100vh - 10rem);

	&__img {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		transform: translateY(6%);
		// background-color: orangered;
		img {
			width: 45%;
		}
	}
	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		transform: translateY(-3rem);
	}
}

.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.article {
	margin-bottom: 4rem;
	position: relative;

	&__img {
		// text-align: center;
	}
	img.land {
		border-radius: 8px;
		width: 90%;
		transform: rotateZ(1.5deg);
		box-shadow: hsla(0, 0%, 0%, 0.479) 0px 7px 29px 3px;
	}

	img.port {
		width: 30%;
		transform: rotateZ(-1.5deg);
		box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
	}

	&__actions {
		margin-top: auto;
	}
}

.heading {
	margin-bottom: 6rem;
}

.intro {
}

.projects {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 2.8rem;
}

.expi {
	&__list {
		margin-top: 4rem;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 3rem 5rem;
	}

	&__item {
		svg {
			height: 3.8rem;
			width: 3.8rem;
		}
	}
}
