*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
html {
	font-size: 62.5%;

	@include respond(tab-port) {
		// width < 900?
		font-size: 50%; //1 rem = 8px, 8/16 = 50%
	}
}

body {
	box-sizing: border-box;
	background-color: $dark;
	color: $light;
	overflow-x: hidden;

	@include respond(phone) {
		padding: 3.2rem;
		width: 100%;
	}
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: $light;
}

img {
	width: 100%;
}

section {
	padding-top: 8rem;
}
