@font-face {
	font-family: "Cascadia Code";
	src: url(../../public/CascadiaCode.woff2);
}

@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;500;600;700;800;900&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");

body {
	font-size: 1.6rem;
	font-family: "Kanit";
}

.heading {
	&__1 {
		font-size: 6.2rem;
		line-height: 120%;
		letter-spacing: 2px;
		text-shadow: $text-shadow;

		span {
			color: var(--accent);
		}

		@include respond(phone) {
			font-size: 5.8rem;
		}
	}

	&__2 {
		font-weight: 700;
		font-size: 3.6rem;
		text-shadow: $text-shadow;
		line-height: 110%;
		margin-bottom: 0.8rem;
	}

	&__4 {
		font-size: 2.2rem;
		font-weight: 600;
		font-family: "Cascadia Code";
		letter-spacing: 0.6px;
	}

	&__3 {
		font-size: 2.4rem;
		font-weight: 600;
		letter-spacing: 0.6px;
	}

	&__5 {
		font-size: 1.8rem;
		color: var(--accent);
		font-family: "Cascadia Code";
		font-weight: 400;
	}
}

.section__heading {
	margin-bottom: 4.2rem;

	@include respond(phone) {
		text-align: center;
	}

	label {
		font-size: 2.2rem;
		color: var(--accent);
		letter-spacing: 0.4px;
		// font-family: "Cascadia Code";
	}
}

p {
	margin: 1.6rem 0 2.4rem 0;
	text-align: justify;
}

.light {
	.section__heading {
		color: var(--text-color);
		// font-weight: 00;
	}

	.heading__5 {
		color: var(--text-color);
		font-weight: 300;
	}
}

.lead {
	font-family: "Cascadia Code";
	font-size: 1.8rem;
	color: var(--text-color);
	opacity: 100%;
	text-align: left;
	margin: 0;

	span {
		font-size: 1.6rem;
		opacity: 70%;
	}
}
