@font-face {
	font-family: "Cascadia Code";
	src: url(../../public/CascadiaCode.woff2);
}

@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;500;600;700;800;900&display=swap");

@font-face {
	font-family: "Segoe UI";
	src: url("../../public/Segoe UI.woff");
}

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");

body {
	font-size: 1.6rem;
	font-family: "Kanit";
}
