@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;0,800;0,900;1,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

body {
	color: $light-grey-1;
	font-family: "Nunito";
	font-weight: 400;
	// font-smooth: auto;
	/* font-size: 16px; */
	line-height: 1.7;
	font-size: 1.6rem;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.text-xl {
	font-size: 4rem;
	// letter-spacing: 2px;
}
