$dark-grey: #777;
$dark-grey-2: #646464;
$dark-grey-3: hsl(0, 0%, 8%);
$light-grey: #cacaca;
$light-grey-1: rgb(231, 231, 231);

$primary: #f05454;

//GRID Widths and Lengths
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
$default-border-radius: 3px;

// FONT SIZES

$default-font-size: 1.6rem;

// Future Variables
:root {
	--bg: 0, 0%, 10%;
	--shade: 0, 0%, 16%;
	--text-color: 0, 0%, 98%;
	// --text-color: 26, 83%, 48%; // i like this use it // orange
	--primary: 26, 83%, 48%;
	--secondary: blue;
	--accent: red;
}
