$dark-grey: #777;
$dark-grey-2: #646464;
$dark-grey-3: #252525;
$light-grey: #cacaca;
$light-grey-1: rgb(231, 231, 231);

$primary: #f05454;

//GRID Widths and Lengths
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
$default-border-radius: 3px;

// FONT SIZES

$default-font-size: 1.6rem;
