.card {
	background-color: $dark-grey-3;
	overflow: hidden;
	border-radius: 8px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
	cursor: pointer;
	img {
		width: 100%;
	}

	&:hover {
		box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
			0 10px 10px rgba(0, 0, 0, 0.22);
		transform: scale(1.09) rotate(-3deg);
		z-index: 100;
	}

	&__info {
		margin: 2rem;
	}

	// &__header {
	// 	font-weight: 600;
	// }
}
