.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 7.2rem;
	font-size: 1.8rem;
	font-weight: bold;
	&__nav-list {
		display: flex;

		& > * {
			margin-left: 1rem;
			a {
			}
		}
	}
}
