/*
0-600px: phone
600-900px: tablet portrait
900-1200px: tablet landscape
1200-1800px: Normal styles
1800px +: Big desktop
*/
/*
$breakpoint argument choices:
- phone:
- tab-port
- tabl-land
- big desktop
ORDER: Base + typography > general layout > Components
*/
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
.m-0 {
  margin: 0rem;
}

.mx-0 {
  margin: 0 0rem;
}

.my-0 {
  margin: 0rem 0;
}

.ml-0 {
  margin-left: 0rem;
}

.mr-0 {
  margin-right: 0rem;
}

.mb-0 {
  margin-bottom: 0rem;
}

.mt-0 {
  margin-top: 0rem;
}

.p-0 {
  padding: 0rem;
}

.px-0 {
  padding: 0 0rem;
}

.py-0 {
  padding: 0rem 0;
}

.pl-0 {
  padding-left: 0rem;
}

.pr-0 {
  padding-right: 0rem;
}

.pb-0 {
  padding-bottom: 0rem;
}

.pt-0 {
  padding-top: 0rem;
}

.m-1 {
  margin: 1rem;
}

.mx-1 {
  margin: 0 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.ml-1 {
  margin-left: 1rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.p-1 {
  padding: 1rem;
}

.px-1 {
  padding: 0 1rem;
}

.py-1 {
  padding: 1rem 0;
}

.pl-1 {
  padding-left: 1rem;
}

.pr-1 {
  padding-right: 1rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pt-1 {
  padding-top: 1rem;
}

.m-2 {
  margin: 2rem;
}

.mx-2 {
  margin: 0 2rem;
}

.my-2 {
  margin: 2rem 0;
}

.ml-2 {
  margin-left: 2rem;
}

.mr-2 {
  margin-right: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mt-2 {
  margin-top: 2rem;
}

.p-2 {
  padding: 2rem;
}

.px-2 {
  padding: 0 2rem;
}

.py-2 {
  padding: 2rem 0;
}

.pl-2 {
  padding-left: 2rem;
}

.pr-2 {
  padding-right: 2rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pt-2 {
  padding-top: 2rem;
}

.m-3 {
  margin: 3rem;
}

.mx-3 {
  margin: 0 3rem;
}

.my-3 {
  margin: 3rem 0;
}

.ml-3 {
  margin-left: 3rem;
}

.mr-3 {
  margin-right: 3rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mt-3 {
  margin-top: 3rem;
}

.p-3 {
  padding: 3rem;
}

.px-3 {
  padding: 0 3rem;
}

.py-3 {
  padding: 3rem 0;
}

.pl-3 {
  padding-left: 3rem;
}

.pr-3 {
  padding-right: 3rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pt-3 {
  padding-top: 3rem;
}

.m-4 {
  margin: 4rem;
}

.mx-4 {
  margin: 0 4rem;
}

.my-4 {
  margin: 4rem 0;
}

.ml-4 {
  margin-left: 4rem;
}

.mr-4 {
  margin-right: 4rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mt-4 {
  margin-top: 4rem;
}

.p-4 {
  padding: 4rem;
}

.px-4 {
  padding: 0 4rem;
}

.py-4 {
  padding: 4rem 0;
}

.pl-4 {
  padding-left: 4rem;
}

.pr-4 {
  padding-right: 4rem;
}

.pb-4 {
  padding-bottom: 4rem;
}

.pt-4 {
  padding-top: 4rem;
}

.m-5 {
  margin: 5rem;
}

.mx-5 {
  margin: 0 5rem;
}

.my-5 {
  margin: 5rem 0;
}

.ml-5 {
  margin-left: 5rem;
}

.mr-5 {
  margin-right: 5rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.mt-5 {
  margin-top: 5rem;
}

.p-5 {
  padding: 5rem;
}

.px-5 {
  padding: 0 5rem;
}

.py-5 {
  padding: 5rem 0;
}

.pl-5 {
  padding-left: 5rem;
}

.pr-5 {
  padding-right: 5rem;
}

.pb-5 {
  padding-bottom: 5rem;
}

.pt-5 {
  padding-top: 5rem;
}

.m-6 {
  margin: 6rem;
}

.mx-6 {
  margin: 0 6rem;
}

.my-6 {
  margin: 6rem 0;
}

.ml-6 {
  margin-left: 6rem;
}

.mr-6 {
  margin-right: 6rem;
}

.mb-6 {
  margin-bottom: 6rem;
}

.mt-6 {
  margin-top: 6rem;
}

.p-6 {
  padding: 6rem;
}

.px-6 {
  padding: 0 6rem;
}

.py-6 {
  padding: 6rem 0;
}

.pl-6 {
  padding-left: 6rem;
}

.pr-6 {
  padding-right: 6rem;
}

.pb-6 {
  padding-bottom: 6rem;
}

.pt-6 {
  padding-top: 6rem;
}

.m-7 {
  margin: 7rem;
}

.mx-7 {
  margin: 0 7rem;
}

.my-7 {
  margin: 7rem 0;
}

.ml-7 {
  margin-left: 7rem;
}

.mr-7 {
  margin-right: 7rem;
}

.mb-7 {
  margin-bottom: 7rem;
}

.mt-7 {
  margin-top: 7rem;
}

.p-7 {
  padding: 7rem;
}

.px-7 {
  padding: 0 7rem;
}

.py-7 {
  padding: 7rem 0;
}

.pl-7 {
  padding-left: 7rem;
}

.pr-7 {
  padding-right: 7rem;
}

.pb-7 {
  padding-bottom: 7rem;
}

.pt-7 {
  padding-top: 7rem;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* Root font size */
html {
  font-size: 62.5%;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25% !important;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50% !important;
  }
}

@media only screen and (max-width: 37.5em) {
  html {
    font-size: 43.75% !important;
  }
}

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  background-color: #252525;
  font-size: 1.6rem;
}

@media only screen and (max-width: 56.25em) {
  body {
    padding: 0;
  }
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  color: #e7e7e7;
  font-family: "Ubuntu", Arial, sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  font-size: 1.6rem;
}

.text-xl {
  font-size: 4rem;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-big {
    margin-bottom: 5rem !important;
  }
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-medium {
    margin-bottom: 3rem !important;
  }
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-small {
    margin-bottom: 1rem !important;
  }
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

.burger {
  position: fixed;
  width: 4rem;
  height: 40px;
  top: 3rem;
  right: 3rem;
  transition: all 0.2s ease;
  cursor: pointer;
  z-index: 2;
}

.burger div {
  background-color: #646464;
  height: 2px;
  width: 100%;
  margin-top: 8px;
  transition: all 0.2s ease;
}

.burger.open > * {
  background-color: #cacaca;
}

.burger.open div:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.burger.open div:nth-child(2) {
  transform: translateX(100px);
}

.burger.open div:nth-child(3) {
  transform: rotate(-45deg) translate(8px, -10px);
}

.brand {
  position: fixed;
  top: 3rem;
  left: 3rem;
  font-size: 3rem;
  font-weight: 700;
  text-shadow: 1px 1px 2px #252525;
  color: #cacaca;
}

.nav {
  position: fixed;
  top: -100%;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(37, 37, 37, 0.945);
  z-index: 1;
  transition: all 0.3s ease-out;
}

.nav__item {
  background-color: rgba(37, 37, 37, 0.1);
  display: block;
  width: 50%;
  text-align: center;
  margin-bottom: 4px;
  border: 1px dashed #252525;
}

.nav__item:hover {
  background-color: rgba(37, 37, 37, 0.4);
  border: 1px dashed #777;
}

.nav__link {
  text-transform: lowercase;
  color: white;
  font-size: 4rem;
  font-weight: 700;
}

.nav.open {
  top: 0;
}

.btn {
  padding: 1rem 3rem;
  border: none;
  font-size: 1.8rem;
  border-radius: 4px;
  margin-top: 5rem;
  cursor: pointer;
  text-transform: uppercase;
}

.btn--primary {
  background-color: #f05454;
  color: white;
}

.btn--primary:hover {
  background-color: #ef4646;
}

.pushable {
  background: #00796b;
  border: none;
  border-radius: 4px;
  padding: 0;
  cursor: pointer;
  outline-offset: 0;
  box-shadow: 0 5px 2px #1d1d1d;
}

.front {
  font-family: inherit;
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 4px;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  background: #009688;
  color: white;
  transform: translateY(-4px);
}

.front-icon {
  font-family: inherit;
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  background: #009688;
  color: white;
  transform: translateY(-4px);
}

.bg-fb {
  background: #085ba4;
}

.bg-fb span {
  background: #0b83ed;
}

.bg-twitter {
  background: #0b76b8;
}

.bg-twitter span {
  background: #1da1f2;
}

.bg-linkedin {
  background: #064079;
}

.bg-linkedin span {
  background: #0a66c2;
}

.pushable:active .front,
.pushable:active .front-icon {
  transform: translateY(-2px);
}

.flex {
  display: flex;
}

.ml-auto {
  margin-left: auto;
}

.tag {
  padding: 0.4rem 2rem 0.6rem 2rem;
  background-color: #777;
  border-radius: 4px;
  margin-right: 1rem;
  display: inline-block;
  margin-top: 1rem;
  font-weight: 500;
  font-size: 2rem;
  color: #252525;
}

.tag--javascript {
  background-color: #f0db4f;
  color: black;
}

.tag--php {
  background-color: #8892bf;
  color: #222530;
}

.tag--laravel {
  background-color: #ff2d20;
  color: white;
}

.tag--react {
  background-color: #61dafb;
  color: #20232a;
}

.tag--vue {
  background-color: #41b883;
  color: #20232a;
}

.tag--bootstrap {
  background-color: #7952b3;
  color: #f7f2fb;
}

.tag--sass {
  background-color: #cf649a;
  color: #f8f9fa;
}

.tag--firebase {
  background-color: #ffca2a;
  color: #252525;
}

.tag--mysql {
  background-color: #268aa0;
  color: #252525;
}

.tag--sm {
  padding: 0.3rem 1rem 0.5rem 1rem;
  font-weight: 600;
  font-size: 1.6rem;
  display: inline-block;
}

.tag--nextjs {
  background-color: #fff;
  color: #191819;
}

.card {
  background-color: #252525;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
}

.card img {
  width: 100%;
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transform: scale(1.09) rotate(-3deg);
  z-index: 100;
}

.card__info {
  margin: 2rem;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main__content {
  width: 70%;
  text-align: center;
}

.section {
  width: 70%;
  margin: 10rem auto;
}

@media only screen and (max-width: 37.5em) {
  .section {
    width: 90%;
  }
}

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4rem;
}

.details .main img {
  width: 100%;
}

.details__subtitle {
  border-bottom: 2px solid #303030;
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 500;
}

.details__paragraph {
  font-size: 2rem;
  color: #747474;
}

footer {
  text-align: center;
  padding: 3rem;
  border-top: 2px dashed #383838;
  width: 80%;
  margin: 0 auto;
}
