@import "./abstracts/variables";
@import "./abstracts/mixins";
@import "./abstracts/utils";

@import "./base/reset";
@import "./base/typography";

@import "./layouts/navbar";
@import "./layouts/footer";

@import "./components/buttons";
@import "./components/featuredItem";
@import "./components/experienceItem";
@import "./components/about";
@import "./components/contact";
@import "./components/cards";
@import "./components/tags";
@import "./components/shapes";

@import "./pages/home";
